# Server
NODE_ENV=dev
LOG_LEVEL=HIGH
PORT=3000
HOST=localhost
SSL=false

# JWT
JWT_SECRET=VeryHardC0d3GO3sHer3xhelpersDevs
JWT_ISSUER=xhelpersDevs@api
JWT_EXPIRE=8h

# Database
MONGODB_URI=mongodb://mongo:mongo@mongodb:27017/apptest?authSource=admin
